.bodyAfterWrapper {
  margin-top: 150px;
  margin-left: 100px;
}

.textAfter {
  padding-top: 3px;
  margin-left: 310px;
}

.cactus {
  position: absolute;
  margin-left: 30px;
  height: 250px;
  width: 250px;
}

.saw {
  position: absolute;
  margin: -60px 0 0 -30px;
  height: 250px;
  width: 250px;
}

.saw {
  animation: animationFrames linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% { transform:  rotate(0deg); }
  100% { transform:  rotate(360deg); }
}
